<footer id="footer">
  <section>
    <form action="https://formspree.io/f/shinjunghun77@gmail.com" method="POST">
      <div class="field">
        <label for="name">Name</label>
        <input type="text" id="name" name="name" />
      </div>
      <div class="field">
        <label for="email">Email</label>
        <input type="email" names="email" />
      </div>
      <div class="field">
        <label for="message">Message</label>
        <textarea name="message" rows="3"></textarea>
      </div>
      <ul class="actions">
        <li><input type="submit" value="Send Message" /></li>
      </ul>
    </form>
  </section>
  <section class="split contact">
    <section class="alt">
      <h3>Location</h3>
      <p>{{site.location}}</p>
    </section>
    <section>
      <h3>Phone</h3>
      <p><a href="tel:{{site.phone}}">{{site.phone}}</a></p>
    </section>
    <section>
      <h3>Email</h3>
      <p><a href="mailto:{{site.email}}">{{site.email}}</a></p>
    </section>
    <section>
      <h3>Social</h3>
      <ul class="icons alt">
        <li><a href="https://twitter.com/{{site.twitter}}" class="icon fa-twitter" rel="nofollow"><span class="label">Twitter</span></a></li>
        <li><a href="https://facebook.com/{{site.facebook}}" class="icon fa-facebook" rel="nofollow"><span class="label">Facebook</span></a></li>
     <!-- <li><a href="https://instagram.com/{{site.instagram}}" class="icon fa-instagram" rel="nofollow"><span class="label">Instagram</span></a></li>  -->
        <li><a href="https://github.com/{{site.github}}" class="icon fa-github" rel="nofollow"><span class="label">GitHub</span></a></li>
      </ul>
      
     <!-- 채널톡 -->
      <script>
        (function(){var w=window;if(w.ChannelIO){return w.console.error("ChannelIO script included twice.");}var ch=function(){ch.c(arguments);};ch.q=[];ch.c=function(args){ch.q.push(args);};w.ChannelIO=ch;function l(){if(w.ChannelIOInitialized){return;}w.ChannelIOInitialized=true;var s=document.createElement("script");s.type="text/javascript";s.async=true;s.src="https://cdn.channel.io/plugin/ch-plugin-web.js";var x=document.getElementsByTagName("script")[0];if(x.parentNode){x.parentNode.insertBefore(s,x);}}if(document.readyState==="complete"){l();}else{w.addEventListener("DOMContentLoaded",l);w.addEventListener("load",l);}})();
      
        ChannelIO('boot', {
          "pluginKey": "7542fd7a-7e4b-4045-b5c4-03387098cf7b"
        });
      </script>



      <!-- 1. 카카오 SDK 로드 -->
      <script src="https://t1.kakaocdn.net/kakao_js_sdk/2.7.2/kakao.min.js" integrity="sha384-0rrOC8CwI6U6w7CZ52TCD1dkZ62Gca1Ny67U66vy9A1670868f0C/08cI7Pdx4t0" crossorigin="anonymous"></script>
      <script>
        // 카카오 개발자 센터에서 발급받은 JavaScript 키가 있다면 여기에 입력합니다.
        // 키가 없어도 아래의 채널ID 기반 간이 위젯은 작동할 수 있습니다.
        if (typeof Kakao !== 'undefined') {
          Kakao.init('YOUR_JAVASCRIPT_APP_KEY'); // (선택사항) 카카오 디벨로퍼스 앱 키
        }
      </script>
      <!-- 2. 홈페이지 화면에 박히는 카카오 공식 1:1 채팅 동적 위젯 -->
      <!-- 🌟 여기에 정훈님의 카톡 채널 ID 입력! (예: _abcde) -->
      <div id="kakao-talk-channel-chat-button"
        data-channel-public-id="_WqVfX"
        data-title="consult"
        data-size="large"
        data-color="yellow"
        data-shape="pc"
        data-support-multiple-id="true"
        style="position: fixed; bottom: 30px; right: 30px; z-index: 9999;">
      </div>
      
      <script>
        window.kakaoAsyncInit = function() {
          Kakao.Channel.createChatButton({
            container: '#kakao-talk-channel-chat-button',
          });
        };
      
        (function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = 'https://t1.kakaocdn.net/kakao_js_sdk/2.7.2/kakao.channel.min.js';
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'kakao-js-sdk'));
      </script>
      
    </section>
  </section>
</footer>
<!-- Copyright -->
<div id="copyright">
  <ul><li>&copy; HTML5 UP</li><li>Design by <a href="https://html5up.net" rel="nofollow">HTML5 UP</a></li><li>Jekyll Integration by <a href="https://soundgrail.com">SoundGrail</a></li></ul>
</div>
